@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;1,400&family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

.container-head {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: all .5s;
    padding: 0 30px;
    margin-top: 50px;
    backdrop-filter: blur(10px);
    position: fixed;
    margin-left: 5rem;
    z-index: 999;
    width: 100%;
    
}
.container-head.active{
  color: white;
  /* background:linear-gradient(#55eab8,#3ba481); */
  background:#06c2c8;
}

.head-bg {
    background:#55eab8;
}

.list-item {
    padding: 25px 0;
    display: inline-block;
  color: white;
    text-transform: capitalize;
    padding-left: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
 
  align-items: center;
  justify-content: center;
    
}

.list-item:hover {
color:rgb(54, 54, 57);   

}

.ml-5 {
    margin-left: 20px !important;
}

.ml-5:hover {
    border-color: #fc5185 !important;
}

.userName {
    color: #004caa;
    margin-left: 5px;
}

.btn {
    margin-left: 15px;
    margin-right: 15px;
}

.btn-danger {
    font-family: Raleway-SemiBold;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff ;
    letter-spacing: 1px;
    line-height: 15px;
    border: 1px solid #ffffff ;
    
    /* border-radius: 40px; */
   background:none;
    transition: all 0.3s ease 0s;
    padding: 15px;
    display: flex;
  }
  
  .btn-danger:hover {
    color: #ffffff;
    background: #fc5185;
    border:none;
    
  }



  /* for mobile responsive */

@media (max-width: 992px) {
    /* 2: Navbar */
    .btn {
        margin-left: 57px;
        margin-right: 15px;
        margin-bottom: 20px;
    }

    .container-head {
        max-width: 80%;
    }
}


@media (max-width: 426px) {
    .list-item {
        padding: 15px 0;
    }

    .btn {
        margin: 15px auto;
    }
}





